@media only screen and (min-width: 992px)  {
    .ant-layout .ant-layout-sider{
      min-width: 300px !important;
      text-align: left;
    }
    .ant-menu-item{
      padding-left: 20px !important;
    }
    .ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
        margin: 0px 4px !important;
        border-radius: 0px 0px 8px 8px !important;
        background: var(--primary-color-80) !important;
        transition: all 0.4s;
    }
    .ant-menu-submenu-open > .ant-menu-submenu-title{
      padding-left: 10px !important;
      padding-top: 10px;
      margin-bottom: -2px;
        border-radius: 8px 8px 0px 0px !important;
        background: var(--primary-color-80) !important;
        transition: all 0.4s;
    
    }
    .ant-menu-submenu-title{
      font-size: 1rem;
    }
    .ant-menu-submenu-arrow{
      transform: scale(1.5) !important;
    }
    .ant-menu-submenu-open{
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.4s;
    
    }
    .api-btn{
      width: 50%;
    }
  }
.button-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.api-btn{
  background: none !important;
  border: none !important;
  color: #637990;
}
.active{
  background: #DCEDFF !important;
  color: #0B1B2D !important;
  font-weight: 500 !important;
  font-size: small;
}
  /* .ant-menu-item-selected > .ant-menu-item-icon{
    color: blue !important;
  }
  .ant-menu-item-selected{
    background: inherit !important;
  } */
  .ant-menu-inline-collapsed-tooltip { display: none; }

  .Change-Menu-Main{
    box-shadow: 0px 9px 16px rgba(245, 250, 255, 0.04);
    position: relative;
  }