#searchInput {
  background-color: aliceblue;
}

/* .ant-select .ant-select-arrow {
  top: 36% !important;
} */

body {
  margin: 0;
}


/* Header Title */
.header-title {
  display: flex;
  flex-wrap: wrap;
}

.title-item {
  font-weight: 400;
  color: #253d55 !important;
}

.title-item-api {
  font-weight: 400;
  color: rgb(167, 167, 167);
}

/* Subscription  */
.subscription-title {
  background: aliceblue;
  width: fit-content;
  padding: 0.5rem;
  font-size: medium;
  font-weight: 500;
  border-radius: 5px;
}

.subscription-info {
  font-size: medium;
  font-weight: 500;
  color: #6e8298;
  margin-bottom: 1rem;
}

.subscription-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10rem;
  margin: 3rem auto;
}

.select-main {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.select-main .ant-select-arrow {
  color: #506983;
}

.select-main .ant-select-selection-item {
  color: #506983;
  font-weight: 500;
}
.subscribe-btn{
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  background: #16375a;
  color: aliceblue;
  border-radius: 7px;
}
.subscription-table .ant-table-row{
  background-color: aliceblue !important;
}
  
@media only screen and (max-width: 815px)  {
  .subscription-table{
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 600px){
  .subscription-select {
    gap: 1rem;
  }
}

/* TryOut */
.tryout-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.radio-btn{
  height: 1rem;
  accent-color: #0b1b2d;
  width: 1rem;

}
.radio-div{
  display: flex;
  align-items: center;
}
.radio-div label{
  margin-right: 1rem;
}
.GetKey-btn{
  border: none;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    background: #d9e7ef;
    color: #374151;
    font-weight: 600;
    cursor: pointer;
    margin-top: -13px;
}

.access-tokenhint{
  margin-top: 5px;
  font-size: smaller;
  font-weight: 600;
  color: #899aac;
}
.tryout-right-header{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.tryout-right-header input{
  padding: 0.5rem !important;
}

.tryout-select .ant-select-selector{
  font-size: larger;
  align-items: center;
  height: 3rem !important;
}
.default-main{
  background: #f2f3f6;
  padding: 1rem;
  margin-top: 2rem;
  max-width: 50rem;
  border-radius: 10px;
  color: #16375a;
}
.bars{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.5rem 0;
}
.get{
  background: #b4cfdf;
}
.get button{
  background: #1672ec;
  color: white;
}
.put{
  background:#f2ecd2;
}
.put button{
  background:#d4b011;
  color: white;
}
.post{
  background: #e5fcda;
}
.post button{
  background:#2ab930;
  color: white;
}
.delete{
  background: #eec6c7;
}
.delete button{
  background:#da100b;
  color: white;
}
.patch{
  background: #e5fcda;
}
.patch button{
  background:#2ab930;
  color: white;
}
.bars button{
  padding: 0.4rem 2rem;
  font-size: large;
  border-radius: 6px;
  margin-right: 1rem;
  border: none;
  width: 7rem;
}
.bars span{
  font-size: large;
  font-weight: 500;

}

/* Comments */
.noComment-main{
  padding: 0.5rem;
  background: #f2f3f6;
  max-width: 50rem;
  border-radius: 6px;
  margin: 2rem 0;
  font-size: small;
  font-weight: 600;
  color: #16375a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-main{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color:#2373a2;
  font-weight: 700;
  margin-top: 2rem;
}
.add-icon{
  color: #2373a2;
  font-size: 1.2rem;
}
.noComment-main div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* SDKS */
.card-sdks{
  background: aliceblue;
  width: 32%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
  
}
.sdks-content{
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0 0 10px 10px;

}
.imgsection{
  padding:1rem;
  text-align: center;
  height: 250px;
}
.Skds{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.download-sdks{
  display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
}